/* .Header__logo {
    margin-right: 40px;
    font-family: 'Marck Script';
    font-size: 50px;
    transform: rotate(-15deg);
    color: #d4af37
}

@media (max-width: 1024px) { 
.Header__logo{  
    margin-right: 40px;
    font-family: 'Marck Script';
    font-size: 45px;
    transform: rotate(-15deg);
    color: #d4af37;
}
  } */