
.block__2{
    text-align: center;
    margin-bottom: 25px;
}

#nota {
    display: none;
}


.header {
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 35px;
}

.types__cake {
    display: flex;
    justify-content: space-between;
}

.type__cake{
    /* max-width: 350px; */
    height: 450px;
    flex-basis: 30%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.active {
    color: rgb(245, 209, 236);
    border-bottom: 1px solid rgb(245, 209, 236);
    /* font-size: 13px; */
    text-transform: uppercase;
    font-size: 25px;
    /* padding: 10px; */
    /* padding-top: 10px; */
    /* transition: color 500ms; */
}

.cake {
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    /* padding: 10px; */
}

.cake:hover{
    color: rgb(245, 209, 236);
    border-bottom: 1px solid rgb(245, 209, 236);
}

.cake__disc {
    flex-basis: 65%;
    border-radius: 20px;
    /* box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); */
    padding: 5px 10px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    height: 450px;
}

.cake__img {
    width: 350px;
    height: 350px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 50%;
}

.cake__text {
    color: black;
    max-width: 300px;
    font-size: 25px;
    text-align:  center;
    margin-left: 8px;
}

.cake__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cake__text__box {
    /* text-align: initial; */
}

.cake__price{
    color: #D4AF37;
    font-size: 35px;
    margin-top: 30px;
}

.cake__price_text{
    font-size: 10px;
    color: #D4AF37;
}

.block__2_btn{
    width: 250px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background: #E7CDD1;
    color: white;
    border-radius: 30px;
    margin: 15px 0 ;
}


@media (max-width: 1180px) { 
    .cake{
        font-size: 23px;

    }

    .cake__img {
        width: 320px;
        height: 320px;
    }

    .cake__text{
        font-size: 22px;
        
    }

}



@media (max-width: 1024px) { 

    .type__cake{
        justify-content: space-around;
    }

    .cake__disc{
        height: 460px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cake{
        font-size: 20px;
    }

    .cake__img {
        width: 260px;
        height: 260px;
    }

    .cake__title{
        font-size: 21px;
        margin: 10px;
    }

    .cake__info{
        flex-direction: column;
    }

    .cake__text__box{
        text-align: center;
        margin-top: 5px;
    }

    .cake__text{
        font-size: 17px;
    }

    .cake__price{
        font-size: 25px;
        margin-top: 15px;

    }
}


@media (max-width: 980px) { 

    .type__cake{
        justify-content: space-around;
    }

    .cake__disc{
        height: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cake{
        font-size: 15px;
    }

    .type__cake{
        height: 448px;
    }

    .cake__img {
        width: 270px;
        height: 270px;
    }

    .cake__title{
        font-size: 32px;
        margin: 9px;
    }

    .cake__info{
        flex-direction: column;
    }

    .cake__text__box{
        text-align: center;
        margin-top: 5px;
    }

    .cake__text{
        font-size: 17px;
    }

    .cake__price{
        font-size: 25px;
        margin-top: 15px;

    }

    .block__2_btn{
        width: 230px;
        font-size: 22px;
        text-transform: uppercase;
        padding: 10px;
        border: none;
        background: #E7CDD1;
        color: white;
        border-radius: 30px;
        margin: 15px 0 ;
    }
}

@media (max-width: 768px) { 

    .type__cake{
        justify-content: space-around;
    }

    .cake__disc{
        height: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cake{
        font-size: 13px;
    }

    .cake__img {
        width: 240px;
        height: 240px;
    }

    .cake__title{
        font-size: 30px;
        margin: 10px;
    }

    .cake__info{
        flex-direction: column;
    }

    .cake__text__box{
        text-align: center;
        margin-top: 5px;
    }

    .cake__text{
        font-size: 16px;
    }

    .cake__price{
        font-size: 25px;
        margin-top: 15px;

    }

    .block__2_btn{
        width: 220px;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        border: none;
        background: #E7CDD1;
        color: white;
        border-radius: 30px;
        margin: 15px 0 ;
    }
}

@media (max-width: 480px) { 
    .types__cake{
        flex-direction: column;
    }
    .cake__title{
        font-size: 26px;
    }
    .cake{
        margin-bottom: 2px;
    }
}

@media (max-width: 320px) { 
    .types__cake{
        flex-direction: column;
    }
    .cake__title{
        font-size: 26px;
    }
}
