.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align -items: end; */
}

.cart__header{
    font-size: 60px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.cart__empty_btn{
    width: 250px;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background: #E7CDD1;
    color: white;
    border-radius: 30px;
    margin: 15px 0;
    
}


