.feedback {
    max-width: 450px;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}

.feedback__form {
    width: 450px;
    border-radius: 5%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: start;
    justify-content: center;
    background-color: white;
    padding: 20px;

    position: relative;
    text-align: center;
    
}

.feedback__close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    font-weight: 100;
}

.feedback__header{
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 20px 0;
}

.feedback__input{
    padding: 5px 30px;
    box-sizing: border-box;
    height: 63px;
    border-radius: 30px;
    width: 100%;
    font-size: 25px;
    color: rgb(115, 113, 113);
    margin-bottom: 9px;
    border: 0.5px solid rgb(69, 69, 69); 
}

.input__label__name{
    /* margin-right: 330px; */
    margin-bottom: 6px;
}

.input__label__phone{
    /* margin-right: 304px; */
    margin-bottom: 6px;
}

.feedback__btn{
    padding: 5px;
    box-sizing: border-box;
    height: 63px;
    border-radius: 30px;
    width: 100%;
    font-size: 30px;
    color: white;
    margin: 15px 0 10px 0;
    border: none;
    background-color: rgb(230, 209, 225);
}

.feedback__btn:hover {
    background-color: rgb(229, 192, 220);
    cursor: pointer;
}

.feedback__footer{
    color: black;
}


@media(max-width: 1024px){
    .feedback__form{
        width: 400px;
    }

    .feedback__header{
        font-size: 28px;
    }

    .feedback__close{
        font-size: 30px;
    }
}

@media(max-width: 767px){
    .feedback__form{
        width: 380px;
    }

    .feedback__header{
        font-size: 26px;
    }

    .feedback__close{
        font-size: 28px;
    }

    .feedback__input{
        height: 54px;
        font-size: 20px;
    }

    .feedback__btn{
        height: 52px;
        font-size: 28px;
    }

    .feedback__footer{
        font-size: 16px;
    }
}

@media(max-width: 480px){
    .feedback__form{
        width: 340px;
    }

    .feedback__header{
        font-size: 26px;
    }

    .feedback__close{
        font-size: 28px;
    }

    .feedback__input{
        height: 52px;
        font-size: 20px;
    }

    .feedback__btn{
        height: 52px;
        font-size: 28px;
    }

    .feedback__footer{
        font-size: 14px;
    }
}

@media(max-width: 320px){
    .feedback__form{
        width: 300px;
    }

    .feedback__header{
        font-size: 20px;
    }

    .feedback__close{
        font-size: 24px;
    }

    .feedback__input{
        height: 50px;
        font-size: 18px;
    }

    .feedback__btn{
        height: 50px;
        font-size: 26px;
    }

    .feedback__footer{
        font-size: 12px;
    }
}